# መግቢያ

ባለፈው ክፍል ሎክ በመጠቀም ውሂቡን እንዴት እየለየን ማውጣት እንደምንችል ተመልክተናል። በዚህ ክፍል አይሎክን እንዴት እንደምንጠቀም እንመለከታለን።

# አይሎክ (iloc)

አይሎክ ከ ሎክ ጋር ተመሳሳይነት ያለው ስራ የሚሰራ ሲሆን፤ ልዩነቱ ለማውጫነት የሚጠቀመው ቁጥር ብቻ ነው። አይሎክ ማለት ኢንቲጀር ሎኬሽን (የቁጥር ስፍራ) መለያ እንደማለት ነው።

In [2]:
# ለምሳሌ ከ ዳታ_ፍሬም ላይ ሶስተኛ ረድፍ ነጥለን ማየት ብንፈልግ 
import pandas as pd
ዳታ_ፍሬም = pd.read_csv('./data/ufo.csv')
ዳታ_ፍሬም.iloc[3]

City                      Abilene
Colors Reported               NaN
Shape Reported               DISK
State                          KS
Time               6/1/1931 13:00
Name: 3, dtype: object

In [3]:
# ዳታ ፍሬም እንዲመልስ ከፈለግን ድርብ ስብር ቅንፍ እንጠቀመላን። 
ዳታ_ፍሬም.iloc[[3]]

      City Colors Reported Shape Reported State            Time
3  Abilene             NaN           DISK    KS  6/1/1931 13:00

In [5]:
# ከአንድ በላይ ረድፍ ለመምረጥ (1, 3 እና 2) ድርብ ቅንፍ ካልሆነ ሳንካ ያትማል 
ዳታ_ፍሬም.iloc[[1, 3, 2]]

          City Colors Reported Shape Reported State             Time
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [6]:
# ሰንጣቂ ለመጠቀም፤ ለምሳሌ ከ 1 እስክ 5 ያሉትን ረድፍ ለማውጣት (አይሎክ ከዜሮ ስለሚጀምር )
# ከ ዜሮ እስከ 4 ያሉትን 
ዳታ_ፍሬም.iloc[0:5]

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [8]:
# ከ 18230 እስከመጨረሻው ያሉትን ሁለት ሁለተኛውን መጥራት 
ዳታ_ፍሬም.iloc[18230::2]

              City Colors Reported Shape Reported State              Time
18230  Pismo Beach             NaN           OVAL    CA  12/31/2000 20:00
18232         Lodi             NaN            NaN    WI  12/31/2000 20:30
18234     Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [11]:
# ረድፍ እና አምድን አይሎክን በመጠቀም መጥራት 
ዳታ_ፍሬም.iloc[[1,2, 3], [0, 2, 3, 4]]

          City Shape Reported State             Time
1  Willingboro          OTHER    NJ  6/30/1930 20:00
2      Holyoke           OVAL    CO  2/15/1931 14:00
3      Abilene           DISK    KS   6/1/1931 13:00

In [12]:
# ሰንጣቂ ለመጠቀም ከፈለግን ድርብ ስብር ቅንፍ አያስፈልግም 
ዳታ_ፍሬም.iloc[1:4, [0,2,3,4]]

          City Shape Reported State             Time
1  Willingboro          OTHER    NJ  6/30/1930 20:00
2      Holyoke           OVAL    CO  2/15/1931 14:00
3      Abilene           DISK    KS   6/1/1931 13:00

In [15]:
# ሰንጣቂን ለመጠቀም ከፈለግን ድርብ ስብር ቅንፍ አያስፈልግም 
ዳታ_ፍሬም.iloc[1:4, 2:5]

  Shape Reported State             Time
1          OTHER    NJ  6/30/1930 20:00
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00

In [16]:
# አንድ የውሂብ እሴትን ነጥሎ ለማውጣት 
ዳታ_ፍሬም.iloc[1, 3]

'NJ'

# ክለሳ

አይሎክ ኢንቲጀርን በመጠቀም ፍለጋውን የሚያከናውነው (ኢንቲጀር ሎኬሽን)። በሚቀጥለው ክፍል እውነት ውሸትን ወይም ቡሊያንን በመጠቀም እንዴት ፍለጋ ማድረግ እንደምንችል እንመለከታለን።