# ውሂብን ለይቶ ማውጣት

ሁለት አይነት የውሂብ ቅርጾች (ዳታ ስትራክቸር) በፓንዳስ ይገኛሉ። 
* ዳታ ፍሬም ፡ ይኼ ውሂባችንን በሰንጠረዥ መልክ ያስቀምጥልናል። 
* ሲሪስ ፡ ይኼ ባለአንድ አምድ ውሂብ ይፈጥራል።  

ሁለቱንም ቅርጾች እንመለከታለን።

## ሲሪስ

In [5]:
# ሲሪስን እንደሚከተለው መፍጠር እንችላለን። 
# ጠቋሚ ማውጫ እለመጻፍ እንችላለን። ፓንዳስ በነባሪው የ ቁጥር ማውጫ ከዜሮ ጀምሮ ያደርግለታል። 
import pandas as pd
ሲሪስ = pd.Series([0.1, 0.3, 0.9, 1.1, 2.3, 0.2], index=['ሀ', 'ለ', 'ሐ', 'መ', 'ሰ', 'የ' ])

In [6]:
ሲሪስ

ሀ    0.1
ለ    0.3
ሐ    0.9
መ    1.1
ሰ    2.3
የ    0.2
dtype: float64

In [7]:
# ጠቋሚውን በመጠቀም ማውጣት እንችላለን። 
ሲሪስ['ሀ']

0.1

In [8]:
# ጠቋሚው መኖሩን ማወቅ ከፈለግን 
'የ' in ሲሪስ

True

In [10]:
# ጠቋሚዎቹን ለማየት 
# ከመደበኛ የፓይተን መዝገበቃል (ዲክሽነሪ) ከተመሳሰለባችሁ አልተሳሳትችሁም። 
ሲሪስ.keys()

Index(['ሀ', 'ለ', 'ሐ', 'መ', 'ሰ', 'የ'], dtype='object')

In [16]:
# ቁልፍ (ኪይ) ካለ እሴት (ቫልዩ) ይኖራል ማለት ነው። 
for k, value in list(ሲሪስ.items()):
    print(value)

0.1
0.3
0.9
1.1
2.3
0.2

In [17]:
# እሴቶችን (ቫሊዩን) መቀየር/ማስተካከል ይቻላል። 
ሲሪስ['የ']

0.2

In [18]:
# እሴቱን ለመቀየር 
ሲሪስ['የ'] =1.3

In [19]:
ሲሪስ['የ']

1.3

In [20]:
ሲሪስ

ሀ    0.1
ለ    0.3
ሐ    0.9
መ    1.1
ሰ    2.3
የ    1.3
dtype: float64

### ከፋይል አንብቦ ሲሪስ መፍጠር

ፋይልን በማንበብ የምናገኘውን ዳታ ፍሬም ወይም ሰንጠረዥ አምዱን ለይተን በማውጣት እንደሲሪስ መጠቀም እንችላለን።

In [21]:
# ፋይልን ማንበብ 
ዳታ_ፍሬም = pd.read_csv('./data/ufo.csv')

In [22]:
ዳታ_ፍሬም.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [23]:
# ስቴት የሚለውን አምድ ለይተን በማውጣት ሲሪስ እንፍጠር። 
type(ዳታ_ፍሬም)

pandas.core.frame.DataFrame

In [28]:
# ስቴት የሚለውን አምድ ለይተን በማውጣት ሲሪስ እንፍጠር።
#loc ወይም ilocን መጠቀም እንችላለን። 
# ወደፊት እንመለከተዋለን 
ስቴት_ሲሪስ= ዳታ_ፍሬም.State

In [29]:
type(ስቴት_ሲሪስ)

pandas.core.series.Series

In [31]:
ስቴት_ሲሪስ[0:2]

0    NY
1    NJ
Name: State, dtype: object

In [33]:
# ለምሳሌ NY ብቻ መለየት ብንፈልግ 
ስቴት_ሲሪስ_NY = ስቴት_ሲሪስ[ስቴት_ሲሪስ=='NY']

In [34]:
ስቴት_ሲሪስ_NY[0:3]

0     NY
4     NY
41    NY
Name: State, dtype: object

In [48]:
# loc በመጠቀም ሲሪስ መውሰድ እንችላለን። 
# ሲሪስ ጠቋሚውን እና የአምዱን ስም መውሰድ ይችላል። 
ስቴት_ሲሪስ_loc = ዳታ_ፍሬም.loc[:, 'State']

In [49]:
# ሲሪስ_ሎክ እና ስቴት_ሲሪስ እኩል መሆናቸውን ለማረጋገጥ 
ስቴት_ሲሪስ_NY_loc.equals(ስቴት_ሲሪስ)

True

In [53]:
# iloc ቁጥርን እንደጠቋሚ በመጠቀም የሚሰራ ነው። 
# የመጀመሪያውን ረድፍ ለማግኘት 
ዳታ_ፍሬም.iloc[0]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [55]:
# iloc ቁጥርን እንደጠቋሚ በመጠቀም የሚሰራ ነው። 
# ሁለተኛው ረድፍ ላይ ያለውን ለመለየት 
# በግራ ያሉት የአምዱ ስም (ኮለመን ኔም) ናቸው። 
ዳታ_ፍሬም.iloc[1]

City                   Willingboro
Colors Reported                NaN
Shape Reported               OTHER
State                           NJ
Time               6/30/1930 20:00
Name: 1, dtype: object

In [56]:
# iloc ቁጥርን እንደጠቋሚ በመጠቀም የሚሰራ ነው። 
# በጋራ 0 እና 1 ረድፍ ላይ ያሉትን ለመለየት 
# ከዜሮ ስለሚጀምር 2ትን አይጠራም። 
ዳታ_ፍሬም.iloc[0:2]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [63]:
# iloc ቁጥርን እንደጠቋሚ በመጠቀም የሚሰራ ነው። 
# በጋራ 0 እና 1 ረድፍ ላይ ያሉትን ለመለየት [0,1] 
# ሁለት ስብር ቅንፍ በመጠቀም  
ዳታ_ፍሬም.iloc[[0, 1]]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [66]:
# iloc ቁጥርን እንደጠቋሚ በመጠቀም የሚሰራ ነው። 
# በጋራ 0 እና 1 ረድፍ ላይ ያሉትን ለመለየት [0,1]
# አምድ ለመጨመር ሲፈለግ ኮማ አድርጎ አምዱን መግለጽ 
# ምሳሌ ሼፕ ሪፖርትድ፣ ስቴት እና ታይምን ለመነጠል 
# ሁለት ስብር ቅንፍ በመጠቀም  
ዳታ_ፍሬም.iloc[[0, 1], [2,3,4]]

  Shape Reported State             Time
0       TRIANGLE    NY   6/1/1930 22:00
1          OTHER    NJ  6/30/1930 20:00

In [82]:
# ስቴትን  ብቻ ለመለየት ማለትም ሦስተኛውን አምድ
# [ሮው(ረድፍ), ኮለመን(አምድ)]
ሲሪስ_ስቴት_iloc = ዳታ_ፍሬም.iloc[:,3]

## ዳታፍሬም (ሰንጠረዝ)

ሰንጠረዥ ወይም ዳታፍሬም የምንለው የሲሪስ ስብስብ ሊሆን ይችላል። ሲሪስ ከላይ እንደተመለከትነው የመዝገበቃል አይነት ቅርጽ ይዞ ሊመሰረት ይችላል።

In [83]:
# ከሲሪስ ለምሳሌ የሚሆን ምናባዊ ውሂብ በመውሰድ ዳታፍሬም (ሰንጠረዥ) መፍጠር 
የከተሞች_ስም = pd.Series({'አዲስ አበባ':'ፊንፊኔ', 'ናዝሬት': 'አዳማ', 'ጅጅጋ' :'ጅግጅጋ', 
                      'አዋሳ': 'ሐዋሳ', 'ዓለማያ': 'ሐሮማያ', 'ደብረዘይት': 'ቢሾፍቱ'})
ርቀት_ከአአ = pd.Series({'አዲስ አበባ':0, 'ናዝሬት': 78, 'ጅጅጋ' :445.82, 
                      'አዋሳ': 221.04, 'ዓለማያ': 506, 'ደብረዘይት': 64})

# ዳታፍሬሙን ለመፍጠር (ከተማ እና ርቀት እንደ አምስ ስም ያገለግላሉ፣ መዝገቃላቱ እንደ ውሂብ)
የከተሞች_ስም = pd.DataFrame({'ከተማ': የከተሞች_ስም ,'ርቀት':ርቀት_ከአአ})

In [84]:
# የከተሞች ስም ውሂብ ምን እንደሚመስል መገመት ትችላላችሁ? 
# የከተሞቹን ስም እንደማውጫ ይወስዳል (ከሁለቱም መዝገቃላት ቁልፍ ላይ)
# የተቀየረ ስማቸውን እና ከአአ ያላቸውን ርቀት በ ከተማ እና በ ርቀት አምድ ስር ያስቀምጣል። 
የከተሞች_ስም

            ርቀት   ከተማ
ናዝሬት      78.00   አዳማ
አዋሳ      221.04   ሐዋሳ
አዲስ አበባ    0.00  ፊንፊኔ
ዓለማያ     506.00  ሐሮማያ
ደብረዘይት    64.00  ቢሾፍቱ
ጅጅጋ      445.82  ጅግጅጋ

In [88]:
# ርቀትን ለይተን ማየት ብንፈልግ 
የከተሞች_ስም['ርቀት']

ናዝሬት        78.00
አዋሳ        221.04
አዲስ አበባ      0.00
ዓለማያ       506.00
ደብረዘይት      64.00
ጅጅጋ        445.82
Name: ርቀት, dtype: float64

In [92]:
# ማዟዟር ብንፈልግ (ትራንፖስ) ማለት ነው
የከተሞች_ስም.T

    ናዝሬት     አዋሳ አዲስ አበባ  ዓለማያ ደብረዘይት     ጅጅጋ
ርቀት   78  221.04       0   506     64  445.82
ከተማ  አዳማ     ሐዋሳ    ፊንፊኔ  ሐሮማያ   ቢሾፍቱ    ጅግጅጋ

In [94]:
# ከአዲስ አበባ 300 ኪሎ ሜትር በላይ የሚርቁ ከተሞችን ብንፈልግ 
የከተሞች_ስም[የከተሞች_ስም['ርቀት']>300]

         ርቀት   ከተማ
ዓለማያ  506.00  ሐሮማያ
ጅጅጋ   445.82  ጅግጅጋ

### ከፋይ በማንበብ መለየት

In [95]:
# ዳታፌሬሙን ዳታ_ፍሬም በሚል ተለዋዋጭ ላይ ማንበብ 
ዳታ_ፍሬም = pd.read_csv('./data/ufo.csv')

In [96]:
# አምዶችን በፍጥነት ለማየት እና ፋይል በሚገባ መነበቡን ለማረጋገጥ 
ዳታ_ፍሬም.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [115]:
# የመጀመሪያውን ረድፍ ለማየት 
ዳታ_ፍሬም.loc[0]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [118]:
# ከመጀመሪያው እስከ 3ስተኛው ረድፍ (3ስተኛውን) ይጨምራል
#ዳታ_ፍሬም.loc[:3] ይሰራል 
ዳታ_ፍሬም.loc[0:3]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [120]:
# ታዩ የተባሉት ዩፎዎች ቅርጻቸው ኦቫል የተባሉትን ለይቶ ለማውጣት 
ዩፎ_ኦቫል = ዳታ_ፍሬም[ዳታ_ፍሬም['Shape Reported']=='OVAL']

In [121]:
ዩፎ_ኦቫል.head(3)

           City Colors Reported Shape Reported State             Time
2       Holyoke             NaN           OVAL    CO  2/15/1931 14:00
13       Keokuk             NaN           OVAL    IA    7/7/1939 2:00
39  San Antonio             NaN           OVAL    NM  8/16/1945 11:30

In [131]:
# ዩፎዎቹ የታዩበት ከተማ፣ ቅርጽ እና  የታዩበትን ጊዜ መነጠል ብንፈልግ (iloc) በመጠቀም 
ዩፎ_የታየበት_ጊዜ_ቅርጽ_iloc = ዳታ_ፍሬም.iloc[:,[0,2, -1]]

In [132]:
ዩፎ_የታየበት_ጊዜ_ቅርጽ_iloc.head(3)

          City Shape Reported             Time
0       Ithaca       TRIANGLE   6/1/1930 22:00
1  Willingboro          OTHER  6/30/1930 20:00
2      Holyoke           OVAL  2/15/1931 14:00

In [133]:
# ዩፎዎቹ የታዩበት ከተማ፣ ቅርጽ እና  የታዩበትን ጊዜ መነጠል ብንፈልግ (locን) በመጠቀም 
ዩፎ_የታየበት_ጊዜ_ቅርጽ_loc =ዳታ_ፍሬም.loc[:,['City','Shape Reported', 'Time']]

In [134]:
ዩፎ_የታየበት_ጊዜ_ቅርጽ_loc.head(3)

          City Shape Reported             Time
0       Ithaca       TRIANGLE   6/1/1930 22:00
1  Willingboro          OTHER  6/30/1930 20:00
2      Holyoke           OVAL  2/15/1931 14:00

In [135]:
#እኩል መሆናቸውን ለማረጋገጥ 
ዩፎ_የታየበት_ጊዜ_ቅርጽ_iloc.equals(ዩፎ_የታየበት_ጊዜ_ቅርጽ_loc)

True

# ማጠቃለያ

ውሂብን ከዳታፍሬም ወይም ሰንጠረዝ ለይቶ ትንተና ለማድረግ ከሚጠቅሙ መሰረታዊ የሆኑትን ተመልክትናል። ሎክ እና አይሎክን በሚቀጥለው ክፍል መሰረታዊ የሒሳብ ስሌቶችን እንዴት እንደምናካሂድ እንመለከታለን።